{
  "comments": false,
  "env": {
    "development": {
      "ignore": [
        "**/*.test.js"
      ]
    }
  },
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "version": "^7.12"
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [
          "Chrome 75",
          "Edge 79",
          "Explorer 11",
          "Firefox 68"
        ]
      }
    ]
  ]
}